<h2 class="chat-title">{{this.chatRoomLogin.chatRoomName | titlecase}}</h2>
<div id="chat">
  <div id="chat-window">
    <div id="output" *ngFor="let chatMessage of webSocketService.chatMessages">
      <p><strong>{{chatMessage.user.userName}}: </strong>{{chatMessage.message}}</p>
    </div>
    <div id="feedback"></div>
  </div>
  <input id="message2" type="text" class="form-control" placeholder="Message" [(ngModel)]="message" (keydown.enter)="sendMessage()"/>
  <button class="btn btn-info btn-lg btn-block" (click)="sendMessage()">
    Send
  </button>
</div>
