<nav class="navbar navbar-expand navbar-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <a class="navbar-brand" [routerLink]="'login'">
    <img
      src="https://images.vexels.com/media/users/3/144878/isolated/preview/7f57343aa5daa8bbf92f6b6779a1af51-cat-sitting-silhouette-by-vexels.png"
      width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    Blue Cat Chat
  </a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="!loggedUser">
        <a class="nav-link" [routerLink]="'login'">Login</a>
      </li>
      <li class="nav-item active" *ngIf="!loggedUser">
        <a class="nav-link" [routerLink]="'signup'">Sign Up</a>
      </li>
      <li class="nav-item active" *ngIf="loggedUser">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
      <li class="nav-item active" *ngIf="loggedUser">
        <a class="nav-link" [routerLink]="'profile'">Profile</a>
      </li>
      <li class="nav-item active" *ngIf="loggedUser">
        <a class="nav-link" [routerLink]="'chatroomform'">New chat room</a>
      </li>
      <li class="nav-item active" *ngIf="loggedUser">
        <a class="nav-link" [routerLink]="'chat'">Chat</a>
      </li>
    </ul>
    <div class="nav-item active" *ngIf="loggedUser">
      <span class="nav-link nav-login-name"><strong>Welcome, {{loggedUser.userName}}!</strong></span>
    </div>
  </div>
</nav>
