<form class="form-signup">
  <div class="text-center mb-4">
    <img class="mb-4" src="https://www.clker.com/cliparts/v/Z/v/9/c/F/blue-cat.svg" alt="" width="72" height="112">
    <h1 class="h3 mb-3 font-weight-normal">Sign Up to Blue Cat Chat</h1>
  </div>

  <div class="form-group">
    <label for="email-signup">Email address</label>
    <input type="email" class="form-control" id="email-signup" [(ngModel)]="email" name="email-signup"
           placeholder="Email address" required autofocus>
  </div>
  <div class="form-group">
    <label for="user-name-signup">Username</label>
    <input type="text" class="form-control" id="user-name-signup" [(ngModel)]="userName"
           name="user-name-signup" placeholder="User name" required>
  </div>
  <div class="form-group">
    <label for="password-signup">Password</label>
    <input type="password" class="form-control" id="password-signup" [(ngModel)]="password"
           name="password-signup" placeholder="Password" required>
    <small id="password-helper" class="form-text text-muted">
      The password needs to contain at least one special character,
      one number, one uppercase letter and must be minimum of 8 characters long.
    </small>
  </div>
  <button type="submit" class="btn btn-lg btn-info btn-block" (click)="singUp()" (keydown.enter)="singUp()">Sign up</button>
</form>
