<div id="user-profile" class="form-login">
  <div class="text-center mb-4">
    <img class="mb-4" src="https://www.svgrepo.com/show/275536/cat.svg" alt="" width="112" height="112">
    <h1 class="h4 mb-3 font-weight-normal">Username: {{loggedUser.userName}}</h1>
  </div>
  <div class="text-center mb-4">
    <h2 class="h4 mb-3 font-weight-normal">Email: {{loggedUser.email}}</h2>
  </div>
</div>

<form class="new-chat-room-member-form">
  <h4>Add new member to a chat room</h4>
  <div class="form-group">
    <label for="inputChatRoom">Select a chat room</label>
    <select [(ngModel)]="chatRoomId" id="inputChatRoom" class="form-control" name="inputChatRoom">
      <option
        [value]="createdRoom.id"
        *ngFor="let createdRoom of loggedUser.createdRoom"
      >
        {{createdRoom.chatRoomName}}
      </option>

      <option
        [value]="memberChatRoom.chatRoomName"
        *ngFor="let memberChatRoom of loggedUser.member"
      >
        {{memberChatRoom.chatRoomName}}
      </option>
    </select>
  </div>
  <div class="form-group" *ngIf="chatRoomId">
    <label for="inputUserName">Enter a username</label>
    <input type="text" class="form-control" id="inputUserName" name="inputUserName" [(ngModel)]="addNewUserName">
  </div>
  <button *ngIf="chatRoomId" type="submit" class="btn btn-lg btn-info btn-block" (click)="addNewRoomMember()">Add new member to the chat room</button>
</form>

<div class="user-rooms">
  <h4>Your Chat Rooms</h4>
  <ul *ngFor="let createdRoom of loggedUser.createdRoom " class="list-group">
    <li class="list-group-item">{{ createdRoom.chatRoomName }}
      <button class="btn btn-info float-right" (click)="loginChatRoom(createdRoom)">Enter room</button>
    </li>
  </ul>
</div>

<div class="user-rooms">
  <h4>Member</h4>
  <ul *ngFor="let memberChatRoom of loggedUser.member " class="list-group">
    <li class="list-group-item">{{ memberChatRoom.chatRoomName }}
      <button class="btn btn-info float-right" (click)="loginChatRoom(memberChatRoom)">Enter room</button>
    </li>
  </ul>
</div>
