<form class="form-login">
  <div class="text-center mb-4">
    <img class="mb-4" src="https://www.clker.com/cliparts/v/Z/v/9/c/F/blue-cat.svg" alt="" width="72" height="112">
    <h1 class="h3 mb-3 font-weight-normal">Blue Cat Chat</h1>
  </div>
  <div class="form-label-group">
    <label for="user-name-login">User name</label>
    <input type="text" id="user-name-login" name="user-name-login" [(ngModel)]="userName" class="form-control"
           placeholder="User name" required autofocus>
  </div>

  <div class="form-label-group">
    <label for="password-login">Password</label>
    <input type="password" id="password-login" [(ngModel)]="password" name="password-login" class="form-control"
           placeholder="Password" required>
  </div>
  <div class="form-label-group">
    <button class="btn btn-lg btn-info btn-block" type="submit" (click)="login()" (keydown.enter)="login()">Log in
    </button>
  </div>
</form>
